body{
    margin: 0;
    padding: 0;
    background-color: #F3F5FC;
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    
}

.logo{
    width: 100%;
    float: left;
    
}

.logoImg{
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
}

.title{
    float: inherit;
    margin-left: 20%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%; 

}

.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
    
}

.text-input{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;    
    border: none;
    outline: none;
    background-color: #F3F5FC;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%; 
    
}

::placeholder{
    color: #0A3871;
    opacity: 1;
}


.right{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background-color: white;
}

.imgDer{
    margin-left: 2%;
    margin-top: 20%;
    width: 90%;
    height: auto;
    
}

.texto{
    margin-left: 7%;
    margin-right: 5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.texto-dos{
    float: left;
    margin-left: 10%;    
    width: 80%;
    height: 60%;
    border: none;
    outline: none;    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
    
}

.info {
    display: flex;
    align-items: center;
    margin: 16px 0 16px 60px;
}

.info img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    display: inline-block;
}

.info p {
    margin-left: 8px;
    display: inline-block;
    color: #3d3d3d;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}


.btn-encriptar{
    padding: 24px;
    width: 35%;
    height: 60%;
    border-radius: 24px;
    border: none;
    margin-left: 15%;
    background-color: #0A3871;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.btn-encriptar img{
    position: relative;
    width: 16px;
    top: 0px;
}

.btn-encriptar:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.btn-desencriptar{
    padding: 24px;
    width: 35%;
    height: 60%;
    border-radius: 24px;
    border: 1px solid #0A3871;
    margin-left: 10%;
    background-color: #D8DFE8;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.btn-desencriptar img{
    position: relative;
    width: 19px;
    top: 0px;
}

.btn-desencriptar:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background-color: #D8DFE8;
    border-radius: 24px;
    display: none;
}

.copyright {    
    margin: 80px;    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.copyright a {
    text-decoration: none; 
    color: #0A3871;
}

.copyright a:hover {
    color: blue;
}